<div class="flex flex-row flex-1 justify-between items-center">
  <h2>Conti</h2>
  <button mat-mini-fab [routerLink]="['/bank-account', 'new']">
    <mat-icon aria-hidden="false" aria-label="Crea nuovo conto bancario" fontIcon="add"></mat-icon>
  </button>
</div>
@if (userBankAccounts()!.length) {
  <div>
    <mat-table [dataSource]="userBankAccounts()!">
      <ng-container matColumnDef="bankId">
        <mat-header-cell *matHeaderCellDef> Filiale </mat-header-cell>
        <mat-cell *matCellDef="let bankAccount"> {{ bankAccount.bankId | bankName | async }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef> Data sottoscrizione </mat-header-cell>
        <mat-cell *matCellDef="let bankAccount"> {{ bankAccount.createdAt | date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="accountNumber">
        <mat-header-cell *matHeaderCellDef> Numero conto </mat-header-cell>
        <mat-cell *matCellDef="let bankAccount"> {{ bankAccount.accountNumber }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Azioni </mat-header-cell>
        <mat-cell *matCellDef="let bankAccount">
          <button mat-button [routerLink]="['/bank-account', bankAccount.id]">
            Dettaglio
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
    </mat-table>
  </div>
} @else {
  <div class="flex flex-col flex-1 justify-between items-center">
    <h3>Non hai conti bancari</h3>
    <img class="illustration" src="assets/illustrations/empty-data.svg"/>
    <h3>Per procedere, creane uno</h3>
  </div>
}
