<app-page-header title="Nuova polizza assicurativa" [showBackButton]="true"></app-page-header>

<div class="flex flex-col flex-1 justify-between items-center h-full max-w-[500px]">
  <form [formGroup]="insurancePolicyForm">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Prodotto</mat-label>
      <mat-select formControlName="insurancePolicyProductId" required>
        @for (insurancePolicyProduct of insurancePolicyProducts(); track insurancePolicyProduct.id) {
          <mat-option [value]="insurancePolicyProduct.id">{{ insurancePolicyProduct.name }} ({{ insurancePolicyProduct.type | insurancePolicyProductTypeName }})</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Data di decorrenza</mat-label>
      <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Data di fine</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </form>

    <button mat-flat-button color="primary" class="w-full" (click)="createInsurancePolicy()">
      Sottoscrivi
    </button>
</div>
