<div class="user-profile">
  <button mat-icon-button [matMenuTriggerFor]="menu" class="avatar-btn">
    <mat-icon class="avatar-icon">person</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon>
      <span>Profilo</span>
    </button>
    <button mat-menu-item (click)="changeAccount()">
      <mat-icon>switch_account</mat-icon>
      <span>Cambia Conto</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Esci</span>
    </button>
  </mat-menu>
</div>
