<app-page-header title="Dettaglio operazione" [showBackButton]="true"></app-page-header>

<div class="flex flex-col w-full gap-8 items-center">
  @if(baseTransactionDetail(); as baseDetails) {
    <app-detail-card [config]="baseDetails"></app-detail-card>
  }

  @if (transactionIsOfTypeTransfer()) {
    @if (sourceTransactionDetail()) {
      <app-detail-card [config]="sourceTransactionDetail()!"></app-detail-card>
    }

    @if (destinationTransactionDetail()) {
      <app-detail-card [config]="destinationTransactionDetail()!"></app-detail-card>
    }
  }
</div>
